/* Common */
* { margin: 0; padding: 0; }
html { height: 100%; color: white; }
body { height: 100%; }

/* App */
#root { height: 100%; }

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #252526;
}

/* Side */
.parts.side {
  display: flex;
  flex-direction: row;
}

/* SideBar */
.parts.side-bar {
  width: 43px;
  height: 100%;
  flex-shrink: 0;
}

/* SideIcon */
.control-icon-wrap {
  padding: 14px 0;
  text-align: center;
}

.control-icon-wrap .control-icon:hover {
  cursor: pointer;
}

.control-icon-wrap .codicon:hover {
  cursor: pointer;
}

.control-icon-wrap .badge {
  position: absolute; left: 0; top: 0; width: 100%; height: 100%;
}

.control-icon-wrap .badge .badge-content {
  color: white;
  background-color: rgb(0, 120, 212);
  position: absolute;
  top: 24px;
  right: 8px;
  font-size: 9px;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
}

.control-icon-wrap .active-item-indicator {
  position: absolute; left: 0; top: 0; width: 100%; height: 100%;
}

.control-icon-wrap .active-item-indicator:before {
  top: 0; height: 100%;
  border-left-color: #0078d4;
  border-left: 2px solid;
}

/* SidePanel */
.side-panel {
  width: 220px;
  height: 100%;
  border-right: 1px solid rgb(43, 43, 43);
  flex-shrink: 0;
}

.side-panel .item {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #141314;
  display: none;
}

.side-panel .item.active { display: block; }

/* List */
.side-panel .list {
  padding: 5px 10px;
  overflow: auto;
}

.side-panel .list .tree {}
.side-panel .list .tree .node {}
.side-panel .list .tree .node.selected {
  background-color: rgb(71 85 102);
  border-radius: 4px;
}
.side-panel .list .tree .node .list-item {}


/* Body */
.parts.body {
  background-color: rgb(31, 31, 31);
  /* width: 100%;
  height: 100%; */
  flex-grow: 1;
}

.body-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sessions-container {
  flex-grow: 1;
}

.terms-container {
  flex-grow: 1;
}

.tabs .tablist {
  display: flex;
  height: 35px;
}

.tabs .tab {
  /* left: auto; */
  border-right: 1px solid rgb(43, 43, 43);
  background-color: rgb(24, 24, 24);
  width: 120px;
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.sessions-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.terms-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.drop-target {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.05);
}

.drop-overlay {
  /* display: none; */
  opacity: 0;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.05);
}
