/* Common */
* { margin: 0; padding: 0; }
html { height: 100%; color: white; }
body { height: 100%; }

/* App */
#root { height: 100%; }

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #252526;
}

/* TopBar */
.parts.topbar {
  padding-left: 80px;
  border-bottom: 1px solid rgb(43, 43, 43);
  height: 42px;
  width: 100%;
  display: flex;
}

.topbar .topbar-left {}
.topbar .topbar-center {
  width: 100%; height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.topbar .topbar-right {}

/* Side */
.parts.side {
  display: flex;
  flex-direction: row;
}

/* SideBar */
.parts.side-bar {
  width: 43px;
  height: 100%;
  flex-shrink: 0;
}

/* SideIcon */
.control-icon-wrap {
  position: relative;
  padding: 8px 0;
  text-align: center;
}

.control-icon-wrap .control-icon:hover {
  cursor: pointer;
}

.control-icon-wrap .codicon:hover {
  cursor: pointer;
}

.control-icon-wrap:hover { cursor: pointer; }
.control-icon-wrap svg { display: inline-block; }

.control-icon-wrap .badge {
  position: absolute; left: 0; top: 0; width: 100%; height: 100%;
}

.control-icon-wrap .badge .badge-content {
  color: white;
  background-color: rgb(0, 120, 212);
  position: absolute;
  top: 24px;
  right: 8px;
  font-size: 9px;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
}

.control-icon-wrap .active-item-indicator {
  position: absolute; left: 0; top: 0; width: 100%; height: 100%;
}

.control-icon-wrap.checked .active-item-indicator:before {
  left: 0; top: 0; height: 100%;
  border-left: 2px solid;
  border-left-color: rgb(0 120 212);
  content: "";
  position: absolute;
}

/* SidePanel */
.side-panel {
  width: 220px;
  height: 100%;
  border-right: 1px solid rgb(43, 43, 43);
  flex-shrink: 0;
}

.side-panel .item {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #141314;
  display: none;
}

.side-panel .item.active { display: block; }

/* List, Tree, Node, ListItem */
.side-panel .list {
  padding: 5px 10px;
  overflow: auto;
}

.side-panel .list .tree {}
.side-panel .list .tree .node {
  line-height: 28px;
  font-size: 16px;
  padding-left: 4px;
}
.side-panel .list .tree .node.selected {
  background-color: rgb(71 85 102);
  border-radius: 4px;
}

.side-panel .list .tree .node .content {
  margin: 2px 0;
  display: flex;
  align-items: center;
}

.side-panel .list .tree .node .content .ln_header {
  width: 20px;
}

.side-panel .list .tree .node .list-item span {
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}


/* Body */
.parts.body {
  background-color: rgb(31, 31, 31);
  /* width: 100%;
  height: 100%; */
  flex-grow: 1;
}

.body-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabs {}
.terms {
  position: relative;
  height: calc(100% - 35px);
}

.tabs .tablist {
  display: flex;
  height: 35px;
}

.tabs .tab {
  /* left: auto; */
  border-right: 1px solid rgb(43, 43, 43);
  background-color: rgb(24, 24, 24);
  width: 120px;
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.tabs .tab.selected {
  background-color: rgb(31, 31, 31);
}

.tabs .tab .tab-border-top-container {
  background-color: var(--tab-border-top-color);
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0; top: 0; z-index: 6;
}

.terms .term {
  height: 100%;
}

.terms .term.term_fit {
}

.terms .term.term_wrapper {
}

.drop-target {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background-color: rgba(255, 255, 255, 0.05); */
  background-color: rgb(83, 89, 93, 0.5)
}

.drop-overlay {
  /* display: none; */
  opacity: 0;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background-color: rgba(255, 255, 255, 0.05); */
}
