/* Common */
* { margin: 0; padding: 0; }
html { height: 100%; color: white; }
body { height: 100%; }

/* App */
.layout.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #252526; */
  background-color: rgb(24,24,24);
}

/* SplitView */
.split-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.split-view .sash-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.split-view .sash-container .sash {
  pointer-events: initial;
}

.sash {
  position: absolute;
  z-index: 35;
  touch-action: none;
}

.sash.mac.vertical { cursor: col-resize; }
.sash.vertical.minimum { cursor: e-resize; }
.sash.vertical.maximum { cursor: w-resize; }

.sash.mac.horizontal { cursor: row-resize; }
.sash.horizontal.minimum { cursor: s-resize; }
.sash.horizontal.maximum { cursor: n-resize; }

.sash.disabled {
  cursor: default !important;
  pointer-events: none !important;
}

.sash.vertical {
  cursor: ew-resize;
  top: 0;
  width: 4px;
  height: 100%;
}

.sash.horizontal {
  cursor: ns-resize;
  left: 0;
  width: 100%;
  height: 4px;
}

.sash:before {
  content: '';
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.sash.hover:before,
.sash.active:before {
  background: rgb(0 120 212); /* var(--vscode-sash-hoverBorder); */
}

.sash.vertical:before {
  width: 4px;
  left: calc(50% - (4px / 2));
}

.sash.horizontal:before {
  height: 4px;
  top: calc(50% - (4px / 2));
}

.split-view .split-view-container {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  position: relative;
}

.split-view .split-view-container .split-view-view {
  white-space: initial;
  position: absolute;
  /* display: flex; */
}

/* .split-view .split-view-container .split-view-view:not(.visible) {
  display: none;
} */

.split-view.vertical > .split-view-container .split-view-view {
  width: 100%;
}

.split-view.horizontal > .split-view-container .split-view-view {
  height: 100%;
}

.split-view > .split-view-container > .split-view-view:not(:first-child)::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.09);
}

.split-view.horizontal > .split-view-container > .split-view-view:not(:first-child)::before {
  height: 100%;
  width: 1px;
}

.split-view.vertical > .split-view-container > .split-view-view:not(:first-child)::before {
  height: 1px;
  width: 100%;
}

/* Titlebar */
.part.titlebar {
  /* padding-left: 80px; */
  border-bottom: 1px solid rgb(43, 43, 43);
  height: 34px;
  width: 100%;
  display: flex;
  /* background-color: grey; */
  flex-direction: column;
  user-select: none;
}

.titlebar .menubar {
  flex: 1;
  position: relative;
  -webkit-app-region: drag;
  display: flex;
  line-height: 22px;
}

.titlebar .menubar .left {
  display: flex;
  align-items: center;
  font-size: 14px;
  outline: none;
}

.menubar .button {
  position: relative;
  -webkit-app-region: no-drag;
  white-space: nowrap;
  color: rgb(204 204 204);
}

.menubar .button:hover, .menubar .button.on {
  /* background-color: rgb(227,227,227); */
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 3px;
}

.menubar .button.hamburger {
  display: none;
  width: 22px;
  height: 22px;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
  /* vertical-align: sub; */
}

/* @media (max-width:716px) {
  .menubar .button { display: none; }
  .menubar .button.hamburger {
    display: flex;
  }
} */

.menubar .button .title {
  padding: 0px 8px;
}

.menubar .button .menubox {
  display: none;
  position: absolute;
  z-index: 5;
  /* background: rgb(242,242,242);
  border: 1px solid rgb(185,185,185); */
  background-color: rgb(31 31 31);
  border: 1px solid rgb(69 69 69);
  left: 0;
  top: 100%;
}

.menubar .button .sub.menubox {
  left: calc(100% + 0px);
  top: -4px;
}

.menubar .button.on > .menubox { display: block; }

.menubar .button ul { padding: 4px 0; border-radius: 5px; }

.menubar .button ul li {
  list-style: none;
  position: relative;
  align-items: center;
}

.menubar .button ul li a { display: flex;
  margin: 0 4px;
  padding: 0 8px;
}
.menubar .button ul li.disabled {
  /* color: rgb(204 204 204); */
  color: lightgray;
}

.menubar .button ul li a.separator {
  border-bottom: 1px solid;
  /* border-bottom-color: rgb(215,215,215); */
  border-bottom-color: rgb(69 69 69);
  margin: 5px;
  padding: 0;
  height: 0;
}

.menubar .button ul li:not(.disabled):hover > a {
  /* background-color: rgb(80,162,255); */
  background-color: rgb(0 120 212);
  border-radius: 5px; color: white;
}
.menubar .button ul li:not(.disabled):hover > .menubox { display: block; }
.menubar .button ul li a span {}

.menubar .button ul li .padding { flex: 1; min-width: 20px; }
.menubar .button ul li .keybinding {}
.menubar .button ul li .indicator {
  padding-top: 2px;
}

.menubar .button ul li .indicator::before {}

.titlebar .menubar .middle { flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlebar .menubar .middle .title {
  font-weight: bold;
}

.titlebar .menubar .right {
}

.titlebar .menubar .right .codicon {
  width: 34px;
  height: 34px;
  font-size: 20px;
  -webkit-app-region: no-drag;
  /* padding: 0 8px; */
  margin-right: 1px;
  line-height: 34px;
}

.titlebar .right .codicon:hover {
  /* background-color: rgb(229, 229, 229); */
  background-color: rgba(255, 255, 255, 0.16);
  cursor: pointer;
}

.titlebar .menubar .right .codicon.close:hover {
  background-color: rgb(232, 17, 35);
  /* color: white; */
}

/* Activitybar */
.part.activitybar {
  width: 39px;
  height: 100%;
  /* flex-shrink: 0; */
  /* background-color: red; */
  white-space: nowrap;
  border-right: 1px solid rgb(43,43,43);
}

.activitybar-item {
  cursor: pointer;
  position: relative;
}

.activitybar-item.disabled {
  cursor: default;
}

.activitybar-item .codicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  font-size: 20px;
  color: rgb(215, 215, 215);
}

.activitybar .activitybar-item.checked .active-item-indicator:before {
  /* border-color: #0078d4; */
  content: "";
  position: absolute;
  /* z-index: 1; */
  top: 0;
  height: 100%;
  width: 0;
  border-left: 2px solid;
  color: #0078d4;
}

/* Body */
.layout.body {
  /* background-color: rgb(255, 0, 255); rgb(31, 31, 31); */
  /* flex-grow: 1; */
  position: relative; width: 100%; height: 100%;
}

/* Sidebar */
.part.sidebar {
  /* width: 220px; */
  width: 100%;
  height: 100%;
  border-right: 1px solid rgb(43, 43, 43);
  /* flex-shrink: 0; */
  /* background-color: green; */
}

/* List, Tree, Node, ListItem */
.sidebar .list {
  padding: 5px 10px;
  overflow: auto;
}

.sidebar .list .tree {}
.sidebar .list .tree .node {
  line-height: 28px;
  font-size: 16px;
  padding-left: 4px;
}
.sidebar .list .tree .node.selected {
  background-color: rgb(71 85 102);
  border-radius: 4px;
}

.sidebar .list .tree .node .content {
  margin: 2px 0;
  display: flex;
  align-items: center;
}

.sidebar .list .tree .node .ln-header {
  width: 20px;
}

.sidebar .list .tree .wrapper .node .ln-header .arrow {
  cursor: pointer;
  transform: rotate(90deg);
}

.sidebar .list .tree .wrapper.collapsed .node .ln-header .arrow {
  transform: rotate(0);
}

.sidebar .list .tree .wrapper.collapsed .wrapper {
  display: none;
}

.sidebar .list .tree .codicon {
  display: flex;
}

.sidebar .list .tree .node .ln-body {
  width: 100%;
}

.sidebar .list .tree .node .list-item .title {
  cursor: default;
}

.sidebar .list .tree .node .list-item span {
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}

/* Session */
.part.session {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}

/* .part.session .wrapper { height: 100%; }
.part.session .wrapper .group-view { height: 100%; } */
.part.session .grid-view {
  width: 100%;
  height: 100%;
}

.tabs {}

.tabs .tablist {
  display: flex;
  height: 35px;
  overflow: hidden;
}

.tabs .tab {
  /* left: auto; */
  border-right: 1px solid rgb(43, 43, 43);
  background-color: rgb(24, 24, 24);
  width: 120px;
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.tabs .tab.selected {
  background-color: rgb(31, 31, 31);
}

.tabs .tab .tab-border-top-container {
  background-color: var(--tab-border-top-color);
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0; top: 0; z-index: 6;
  display: none;
}

.tabs .tab.active .tab-border-top-container {
  display: block;
}

.terms {
  position: relative;
  height: calc(100% - 35px);
}

.terms .term {
  position: absolute;
  width: 100%;
  height: 100%;
}

.terms .term { display: none; }
.terms .term.selected { display: block; }

.group-view { width:100%; height:100%; }

.drop-target {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(83, 89, 93, 0.5)
}

.drop-overlay {
  opacity: 0;
  position: absolute;
  /* z-index: 10; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* StatusBar */
.part.statusbar {
  height: 17px;
  width: 100%;
  display: flex;
  background-color: purple;
}