/* Common */
* { margin: 0; padding: 0; }
html { height: 100%; color: white; }
body { height: 100%; }

/* App */
.layout.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #252526; */
  background-color: rgb(24,24,24);
}

/* SplitView */
.split-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.split-view .sash-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.split-view .sash-container .sash {
  pointer-events: initial;
}

.sash {
  position: absolute;
  z-index: 35;
  touch-action: none;
}

.sash.mac.vertical { cursor: col-resize; }
.sash.vertical.minimum { cursor: e-resize; }
.sash.vertical.maximum { cursor: w-resize; }

.sash.mac.horizontal { cursor: row-resize; }
.sash.horizontal.minimum { cursor: s-resize; }
.sash.horizontal.maximum { cursor: n-resize; }

.sash.disabled {
  cursor: default !important;
  pointer-events: none !important;
}

.sash.vertical {
  cursor: ew-resize;
  top: 0;
  width: 4px;
  height: 100%;
}

.sash.horizontal {
  cursor: ns-resize;
  left: 0;
  width: 100%;
  height: 4px;
}

.sash:before {
  content: '';
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.sash.hover:before,
.sash.active:before {
  background: rgb(0 120 212); /* var(--vscode-sash-hoverBorder); */
}

.sash.vertical:before {
  width: 4px;
  left: calc(50% - (4px / 2));
}

.sash.horizontal:before {
  height: 4px;
  top: calc(50% - (4px / 2));
}

.split-view .split-view-container {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  position: relative;
}

.split-view .split-view-container .split-view-view {
  white-space: initial;
  position: absolute;
  /* display: flex; */
}

/* .split-view .split-view-container .split-view-view:not(.visible) {
  display: none;
} */

.split-view.vertical > .split-view-container .split-view-view {
  width: 100%;
}

.split-view.horizontal > .split-view-container .split-view-view {
  height: 100%;
}

.split-view > .split-view-container > .split-view-view:not(:first-child)::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.09);
}

.split-view.horizontal > .split-view-container > .split-view-view:not(:first-child)::before {
  height: 100%;
  width: 1px;
}

.split-view.vertical > .split-view-container > .split-view-view:not(:first-child)::before {
  height: 1px;
  width: 100%;
}

/* Titlebar */
.part.titlebar {
  /* padding-left: 80px; */
  border-bottom: 1px solid rgb(43, 43, 43);
  height: 34px;
  width: 100%;
  display: flex;
  /* background-color: grey; */
}

.titlebar .left { display: flex; padding-left: 80px; }

.titlebar .center {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.titlebar .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.titlebar .right .codicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  font-size: 20px;
  /* background-color: rgba(255, 255, 255, 0.08); */
  /* border-radius: 8px; */
}

.titlebar .right .codicon.codicon-settings-gear {
  font-size: 16px;
}

.titlebar .right .codicon:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

/* Activitybar */
.part.activitybar {
  width: 48px;
  height: 100%;
  /* flex-shrink: 0; */
  /* background-color: red; */
  white-space: nowrap;
  border-right: 1px solid rgb(43,43,43);
}

.activitybar-item {
  cursor: pointer;
  position: relative;
}

.activitybar-item.disabled {
  cursor: default;
}

.activitybar-item .codicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: rgb(215, 215, 215);
}

.activitybar .activitybar-item.checked .active-item-indicator:before {
  /* border-color: #0078d4; */
  content: "";
  position: absolute;
  /* z-index: 1; */
  top: 0;
  height: 100%;
  width: 0;
  border-left: 2px solid;
  color: #0078d4;
}

/* Body */
.layout.body {
  /* background-color: rgb(255, 0, 255); rgb(31, 31, 31); */
  /* flex-grow: 1; */
  position: relative; width: 100%; height: 100%;
}

/* Sidebar */
.part.sidebar {
  /* width: 220px; */
  width: 100%;
  height: 100%;
  border-right: 1px solid rgb(43, 43, 43);
  /* flex-shrink: 0; */
  /* background-color: green; */
}

/* List, Tree, Node, ListItem */
.sidebar .list {
  padding: 5px 10px;
  overflow: auto;
}

.sidebar .list .tree {}
.sidebar .list .tree .node {
  line-height: 28px;
  font-size: 16px;
  padding-left: 4px;
}
.sidebar .list .tree .node.selected {
  background-color: rgb(71 85 102);
  border-radius: 4px;
}

.sidebar .list .tree .node .content {
  margin: 2px 0;
  display: flex;
  align-items: center;
}

.sidebar .list .tree .node .ln-header {
  width: 20px;
}

.sidebar .list .tree .wrapper .node .ln-header .arrow {
  cursor: pointer;
  transform: rotate(90deg);
}

.sidebar .list .tree .wrapper.collapsed .node .ln-header .arrow {
  transform: rotate(0);
}

.sidebar .list .tree .wrapper.collapsed .wrapper {
  display: none;
}

.sidebar .list .tree .codicon {
  display: flex;
}

.sidebar .list .tree .node .ln-body {
  width: 100%;
}

.sidebar .list .tree .node .list-item .title {
  cursor: default;
}

.sidebar .list .tree .node .list-item span {
  margin-right: 7px;
  display: inline-block;
  vertical-align: middle;
}

/* Session */
.part.session {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}

/* .part.session .wrapper { height: 100%; }
.part.session .wrapper .group-view { height: 100%; } */
.part.session .grid-view {
  width: 100%;
  height: 100%;
}

.tabs {}

.tabs .tablist {
  display: flex;
  height: 35px;
  overflow: hidden;
}

.tabs .tab {
  /* left: auto; */
  border-right: 1px solid rgb(43, 43, 43);
  background-color: rgb(24, 24, 24);
  width: 120px;
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.tabs .tab.selected {
  background-color: rgb(31, 31, 31);
}

.tabs .tab .tab-border-top-container {
  background-color: var(--tab-border-top-color);
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0; top: 0; z-index: 6;
  display: none;
}

.tabs .tab.active .tab-border-top-container {
  display: block;
}

.terms {
  position: relative;
  height: calc(100% - 35px);
}

.terms .term {
  position: absolute;
  width: 100%;
  height: 100%;
}

.terms .term { display: none; }
.terms .term.selected { display: block; }

.group-view { width:100%; height:100%; }

.drop-target {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(83, 89, 93, 0.5)
}

.drop-overlay {
  opacity: 0;
  position: absolute;
  /* z-index: 10; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* StatusBar */
.part.statusbar {
  height: 22px;
  width: 100%;
  display: flex;
  background-color: purple;
}